*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #87CEEB;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
   
}
input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}
button {
    padding: 10px;
    background: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
button:hover {
    background: #005f73;
}
#weather {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
