* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eef3ef;
    height: 400px;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#todo-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#todo-form input {
    padding: 10px;
    font-size: 16px;
    width: 60%; 
    margin-right: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

#todo-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#todo-form button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    justify-content: space-between; 
    width: 50%; 
    margin: 20px auto; 
}

.filters button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #0056b3;
}

.filters button.active {
    background-color: #28a745;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

button.delete-btn {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #c82333;
}
